.home {
    width: 30%;
    height: 100%;
    margin: 2% 60%;
    opacity: 0.9;
    overflow: auto;
    
}

.homeContainer {
    width: 100%;
    height: auto;
}

.todoLabel {
    text-align: center;
	font-weight: 30%;
	color: #8f8a8a;
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
}

.addFiled {
    display: block;
    width: 100%;
    flex: '10';
    padding: 2%;
}

.itemContainer {
    width: 100%;
    height: auto;
    overflow: auto;
    display: block;
}